<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html">


<body>

<ui:composition template="template.xhtml">

    <ui:define name="mainContent">

        <div id="loading-div-background">
            <div id="loading-div" class="ui-corner-all">
                <!--<img  src="resources/img/loading.gif" alt="Loading.."/>-->
            </div>
        </div>


        <div id="resultDiv" class="container" style="display: none">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Repo owner</th>
                    <th>Repo Name</th>
                    <th>Repo Language</th>
                    <th>Repo Descritption</th>
                    <th>Repo Link</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>

    </ui:define>
</ui:composition>

</body>
</html>