<?xml version="1.0" encoding="UTF-8"?>
<html
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>Test</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="resources/css/style.css"/>
    <link rel="stylesheet" href="resources/css/datepicker.css"/>
    <link rel="stylesheet" href="resources/css/jquery-ui.css"/>
    <script type="text/javascript" src="resources/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="resources/js/jquery-ui.js"></script>

    <script type="text/javascript" src="resources/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="resources/js/script.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-header-custom" href="#" >Bitbucket Search[BETA!!!] </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <h:form class="navbar-form navbar-right" >
                <div class="row row-centered">
                    <input id="language" class="form-control" type="text" placeholder="Select a Language" />

                    <!-- <input  type="text" placeholder="author" /> -->
                    <input id="startdate" class="datepicker" type="text" placeholder="choose a start date" />
                    <!--  input class="datepicker" type="text" placeholder="choose a last modify date" />-->

                <Button id="submit" class="btn btn-default" >search

                    </Button>
                </div>
            </h:form>
        </div>
    </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<ui:insert name="mainContent">

</ui:insert>
</body>

</html>